body {
    margin: 0 auto;
}

.row {
    justify-content: center;
    margin-top: 100px;
}

.card {
    margin: 0px 20px;
    margin-top: 16px;
}

.position {
    max-width: 350px;
    margin: 0 auto;
    margin-top: 200px;
    text-align: center;
}
